{% include 'site/header.html' %}
{% load static %}

            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Shopping Cart</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!--Shopping Cart Area Strat-->
            <div class="container-fluid">
                <div class="row">
                    <aside class="col-lg-9">

                        {% for msg in messages %}
                        <div  class="alert alert-success"> {{ msg }}</div>
                        {% endfor %}

                        <div class="card">
                            <div class="table-responsive">
                                <table class="table table-borderless table-shopping-cart">
                                    <thead class="text-muted">
                                        <tr class="small text-uppercase">
                                            <th scope="col">Product</th>
                                            <th scope="col" width="120">Quantity</th>
                                            <th scope="col" width="120">Price</th>
                                            <th scope="col" width="120">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% if cart %}                                       
                                        {% for cart in cart %}
                                        <tr>
                                            <td>
                                                <figure class="itemside align-items-center">
                                                    <div class="aside"><img  src="{{ cart.Product.Item_image.url }}" class="img-sm"></div>
                                                    <figcaption class="info"> <a href="#" class="title text-dark" data-abc="true">{{ cart.Product.Product_name }}</a>
                                                        <p class="text-muted small">SIZE: L <br> About: {{ cart.Product.Description}}</p>
                                                    </figcaption>
                                                </figure>
                                            </td>
                                            <td> {{ cart.Qty }} </td>
                                            <td>
                                                <div class="price-wrap"> <var class="price">₹ {{ cart.Product.descount_price }}</var> </div>
                                            </td>

                                            <td>
                                            <div class="price-wrap"> <var class="price">₹ {{ cart.total_price }}</var></div>
                                            </td>
                                            <td class="text-right d-none d-md-block"> <a class="btn btn-sm btn-info" data-abc="true" href="/site/remove_cart_items/{{ cart.id }}" > Remove</a> </td>
                                        </tr>
                                        
                                        {% endfor %}
                                        
                                    </tbody>                                   
                                    {% else %}
                                    <h4 style="color:red;"> You're cart is Empty...!</h4>
                                    {% endif %}
                                </table>
                                
                            </div>
                        </div>
                    </aside>
                    <aside class="col-lg-3">
                        <div class="card mb-3">
                            <div class="card-body">
                                <form>
                                    <div class="form-group"> <label>Have coupon?</label>
                                        <div class="input-group"> <input type="text" class="form-control coupon" name="" placeholder="Coupon code"> <span class="input-group-append"> <button class="btn btn-primary btn-apply coupon">Apply</button> </span> </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <dl class="dlist-align">
                                    <dt>Total price:</dt>
                                    <dd class="text-right ml-3"><strong>₹ {{ total }}</strong></dd>
                                </dl>
                                <dl class="dlist-align">
                                    <dt>Discount:</dt>
                                    <dd class="text-right text-danger ml-3">- $10.00</dd>
                                </dl>
                                <dl class="dlist-align">
                                    <dt>Total:</dt>
                                    <dd class="text-right text-dark b ml-3"><strong>₹ {{ total }}</strong></dd>
                                </dl>
                                <hr> <a href="/site/checkout_page" class="btn btn-out btn-primary btn-square btn-main" data-abc="true"> Make Purchase </a>
                                 <a href="/site/index" class="btn btn-out btn-success btn-square btn-main mt-2" data-abc="true">Continue Shopping</a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
            <!--Shopping Cart Area End-->
           {% include 'site/footer.html'%}




           <style>

            body {
                background-color: #eeeeee;
                font-family: 'Open Sans', serif;
                font-size: 14px
            }
            
            .container-fluid {
                margin-top: 70px
            }
            
            .card-body {
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                padding: 1.40rem
            }
            
            .img-sm {
                width: 80px;
                height: 80px;
                border-radius:50%;
            }
            
            .itemside .info {
                padding-left: 15px;
                padding-right: 7px
            }
            
            .table-shopping-cart .price-wrap {
                line-height: 1.2
            }
            
            .table-shopping-cart .price {
                font-weight: bold;
                margin-right: 5px;
                display: block
            }
            
            .text-muted {
                color: #969696 !important
            }
            
            a {
                text-decoration: none !important
            }
            
            .card {
                position: relative;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-direction: column;
                flex-direction: column;
                min-width: 0;
                word-wrap: break-word;
                background-color: #fff;
                background-clip: border-box;
                border: 1px solid rgba(0, 0, 0, .125);
                border-radius: 0px
            }
            
            .itemside {
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                width: 100%
            }
            
            .dlist-align {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex
            }
            
            [class*="dlist-"] {
                margin-bottom: 5px
            }
            
            .coupon {
                border-radius: 1px
            }
            
            .price {
                font-weight: 600;
                color: #212529
            }
            
            .btn.btn-out {
                outline: 1px solid #fff;
                outline-offset: -5px
            }
            
            .btn-main {
                border-radius: 2px;
                text-transform: capitalize;
                font-size: 15px;
                padding: 10px 19px;
                cursor: pointer;
                color: #fff;
                width: 100%
            }
            
            .btn-light {
                color: #ffffff;
                background-color: #F44336;
                border-color: #f8f9fa;
                font-size: 12px
            }
            
            .btn-light:hover {
                color: #ffffff;
                background-color: #F44336;
                border-color: #F44336
            }
            
            .btn-apply {
                font-size: 11px
            }
        </style>

        